#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Amazon Music
Exec=/nix/store/n82ixdb7m2qlcq9yxkr18d9592dhjhrv-brave-1.61.101/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=hdchdnjfeloenpgknhglimndlgkaakjb
Icon=brave-hdchdnjfeloenpgknhglimndlgkaakjb-Default
StartupWMClass=crx_hdchdnjfeloenpgknhglimndlgkaakjb
