[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Perplexity
Exec=/nix/store/d7ni5nshpks8idd4hddrkm46sjyccavw-brave-1.69.168/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=kpmdbogdmbfckbgdfdffkleoleokbhod
Icon=/home/burij/.local/share/icons/custom_apps/perplexity.png
StartupWMClass=crx_kpmdbogdmbfckbgdfdffkleoleokbhod
Name[de]=Perplexity
Name[de_DE]=Perplexity
Name[de_DE.UTF-8]=Perplexity
Hidden=false
NoDisplay=false
StartupNotify=false

