#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=homee Web App
Exec=/nix/store/dff4nha8py4s38yvpmrbkmnywr944pgj-brave-1.67.116/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=lapcahdpinfchmfpokchnedabjgcodam
Icon=brave-lapcahdpinfchmfpokchnedabjgcodam-Default
StartupWMClass=crx_lapcahdpinfchmfpokchnedabjgcodam
