#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Trading 212
Exec=/nix/store/my5l6r5v5jv2d0n7rg6q2vlj0a8q2d7l-brave-1.63.162/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=dlfiglpkpjmbklfklalidkfkhckpkpai
Icon=brave-dlfiglpkpjmbklfklalidkfkhckpkpai-Default
StartupWMClass=crx_dlfiglpkpjmbklfklalidkfkhckpkpai
